* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  background: rgba(0, 0, 0, 0.02);
}

.card-body {
  margin: 10px 5px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
}

.form-group__input {
  padding: 5px;
  border-radius: 5px;
}

.form-group__button {
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 10px auto 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-group__button:hover {
  background: yellow;
  width: 90%;
}

.cart-total {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 22px;
}

.total-price {
  font-weight: 600;
  font-size: 24px;
  color: red;
}

.food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.food__img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  margin-bottom: 20px;
}

.food__title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.food__text {
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.food__inner {
  display: grid;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 26%;
  flex: 0 0 26%;
  max-width: 650px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.food-box {
  background: lightblue;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  border-radius: 10px;
  max-width: 320px;
}

.food-box__img {
  padding: 15px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.food-box__img:hover {
  max-width: 170px;
  margin-top: -20px;
}

.food-box__name {
  font-size: 20px;
  font-weight: 500;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.food-box__name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.food-box__text {
  margin-bottom: 5px;
  text-align: center;
}

.food-box__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.food-box__amount {
  margin-right: 5px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.food-box__amount-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
}

.food-box__amount-btn:hover {
  background: yellow;
}

.food-box__amount-text {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.food-box__price {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 54px;
}

.food-box__price-weight {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 5px;
}

.food-box__price-money {
  font-size: 18px;
}

.food-box__btn {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 80%;
  margin: 0px auto 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.food-box__btn:hover {
  background: yellow;
  width: 90%;
}

.food-maincard__text.none {
  display: none;
}

.food-maincard {
  background: lightblue;
  width: 325px;
  height: 100%;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #000;
}

.food-maincard__title {
  padding: 15px 5px 5px 5px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
}

.food-maincard__text {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin: 0px 5px 0px;
  padding: 15px;
}

.food-card__box {
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.food-card__box-img {
  display: block;
  max-width: 100px;
  max-height: 100px;
}

.food-card__box-img:hover {
  max-width: 105px;
  max-height: 105px;
  margin-right: -5px;
}

.food-card__info {
  margin-left: 25px;
}

.food-card__name {
  margin-bottom: 10px;
  font-size: 18px;
}

.food-card__name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.food-card__name-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.food-card__text {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #000;
}

.food-card__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-card__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px 0 0;
}

.food-card__amount-btn {
  width: 20px;
}

.food-card__amount-text {
  padding: 0px 5px;
}

.food-card__price-money {
  margin-bottom: 7px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 18px;
}

.food-card__box .food-box__amount {
  margin-left: -24px;
}

@media (max-width: 780px) {
  .food__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .food-box__img {
    padding: 5px;
    max-width: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .food-box__img:hover {
    max-width: 75px;
    margin-top: -5px;
  }

  .food-box__name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .food-box__amount-btn {
    width: 15px;
    height: 15px;
    margin: 0px;
    font-weight: 400;
    font-size: 11px;
    -webkit-box-shadow: 1px 1px 5px 1px #000;
    box-shadow: 1px 1px 5px 1px #000;
  }

  .food-maincard {
    width: 215px;
    padding-bottom: 20px;
  }

  .food-box__price-weight {
    font-size: 10px;
  }

  .food-box__price-money {
    font-size: 14px;
  }

  .food-box__amount,
  .food-box__inner {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .food-box__price {
    margin-right: 5px;
    width: 36px;
  }

  .food-box__price-money {
    font-size: 14px;
  }

  .food-card__box-img {
    max-width: 55px;
  }
}